
// The prefix to use on all css classes from ant-pro.
@ant-pro-prefix : ant-pro;
@ant-global-sider-zindex : 106;
@ant-global-header-zindex : 105;
@color: #00B627;
@primaryColor: #32d637;
@primaryColorHover: #2dc84d;
@tableHeadColor: #7c7b80;